body {
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

.main__page {
    position: relative;
    height: 100vh;
}

.main__container {
    position: absolute;
    z-index: 1;
}

.loader__main {
    background-color: pink;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 3;

    animation: loader 1.8s linear forwards;
}

@keyframes loader {
    0% {
        opacity: 1;
        visibility: visible;
    }

    95% {
        opacity: 1;
        visibility: visible;
    }

    100% {
        opacity: 0;
        visibility: hidden;
    }
}

.loader__main div {
    background: cyan;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 10px;

    transform: scale(0);

    animation: scaling 1.8s ease-out infinite;
}

.loader__main div:nth-child(1) {
    animation-delay: 0.2s;
}

.loader__main div:nth-child(2) {
    animation-delay: 0.4s;
}

.loader__main div:nth-child(3) {
    animation-delay: 0.6s;
}

@keyframes scaling {
    0% {
        transform: scale(0.2);
    }

    40% {
        transform: scale(0.9);
    }

    50% {
        transform: scale(1);
    }

    100% {
        transform: scale(0.2);
    }
}